# Python
__pycache__
build
dist
*.egg-info

# Data files
*.csv
*.xls
*.xlsx
*.zip
*.kml

# VS Code
.vscode

# Jupyter
*.ipynb
.ipynb_checkpoints

# Images
*.png
*.jpg
*.svg

# Sublime Text
*.sublime-*
