[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
doit = "*"
pyinstaller = "*"

[packages]
pykml = "*"
pandas = "*"
lxml = "*"
xlrd = "*"
openpyxl = "*"
pyside2 = "*"

[requires]
python_version = "3.8"
